body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    hyphens: none;
    white-space: pre-warp;
}


.header {
    grid-template-columns: 1fr auto auto auto;
    gap: 24px;
    display: grid;
    align-items: baseline;
    border-bottom: 1px solid rgb(189, 189, 189);
    position: sticky;
    top: 0;
    padding: 10px 30px;
    margin-bottom: 25px;
    background-color: white;
    z-index: 1;
    line-height: 0.7;
    font-family: 'Bebas Neue';

}

.header a {
    color: black;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}


.header a:hover {
    text-decoration: none;
    color: rgb(13, 0, 255);
    opacity: 1;
    transform: scale(1.3);
}


.projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 30px;
    max-width: 2000px;
    margin: auto;
}



h1 {
    font-family: 'Bebas Neue';
    margin: 25px;
    font-size: 36px;
    
}


.filet{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.735);
}

h2{
    color: rgb(0, 0, 0);
    font-size:  36px;
    padding-bottom: 10px;
    align-self: center;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}

.texte-courant{
    font-family: 'Inter';
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-self: center;
    padding-top: 10px;
    hyphens: none;
}



.img-fx{
    transition: 1s;
    filter: none;
}

.img-fx:hover{
    opacity:0.5;
}


.project-grossi:hover{
    transform: scale(1.05);
    transition: 0.6s;
}


.img-fx {
    display: grid;
    text-decoration: none;
}

.img-fx>*  {
    grid-column: 1/-1;
    grid-row: 1/-1;
    transition: 0.6s;
}

.img-fx p{
    text-decoration: none;
    place-self: center;
    color:#ffffff;
    text-align: center;
    font-size: 54px;
    margin: 20px ;
    opacity: 0;
    font-family: 'Bebas Neue';
}

.img-fx:hover p{
    opacity: 1;
    text-decoration: none;
  }

  .project img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}



video{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}




.col-span-2{
    grid-column: span 6;
}

@media (min-width:600px){
    .col-span-2{
        grid-column: span 4;
    }
}

@media (min-width:900px){
    .col-span-2{
        grid-column: span 3;
    }
}

@media (min-width:1200px){
    .col-span-2{
        grid-column: span 2;
    }
}



.span-3{
    grid-column: span 6;
}

@media (min-width:600px){
    .span-3{
        grid-column: span 6;
    }
}

@media (min-width:900px){
    .span-3{
        grid-column: span 4;
    }
}

@media (min-width:1200px){
    .span-3{
        grid-column: span 3;
    }
}




.span-4{
    grid-column: span 4;
}

.span-5{
    grid-column: span 5;
}

.span-6{
    grid-column: span 6;
}

.fond{
    background: local;
    background-color: white;
}

.a-fx {
    display: grid;
    text-decoration: none;
}

.a-fx>*  {
    grid-column: 1/-1;
    grid-row: 1/-1;
    transition: 0.6s;
}

.a-fx p{
    text-decoration: none;
    place-self: center;
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 54px;
    margin: 20px ;
    font-family: 'Bebas Neue';
}

.a-fx:hover .img-preview {
    opacity: 0;
    text-decoration: none;

}



  



